*{
padding: 0;
margin: 0;


}

html, body {
margin: 0;
padding:0;
height: 100%;
background-size: cover;
scroll-behavior: smooth;
width: 100vw;
background-color: #F2F5FC;
}


.nav {

    background:  rgba(255, 255, 255, 0.0);
    height: 5%;
    width: 100%;
    font-size: 3vh;
    display:  flex;
    position: fixed;
    align-items: center;
    opacity: 1;
    font-family: 'Noto Sans JP', sans-serif;
    z-index: 1;
    max-width: 100vw;
 }

 .nav ul{
   margin-top: 3px;
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;


 }

 .nav li{

   display: flex;
   justify-content: space-around;
   text-align: center;



 }

 .nav a, a:visited{
  text-decoration: none;
  color: #2d2d2d;
  border-bottom: 3px solid transparent;
  transition: ease-in border-bottom 0.2s, color 0.2s;


 }

 .nav li:nth-child(1):hover > a {
   color: #5d5d5d;
   border-bottom: 3px solid #5193F4;
 }
 .nav li:nth-child(2):hover > a {
   color: #5d5d5d;
   border-bottom: 3px solid #00AD9F;
 }

 .nav li:nth-child(3):hover > a {
   color: #5d5d5d;
   border-bottom: 3px solid #F24959;
 }
 .nav li:nth-child(4):hover > a {
   color: #5d5d5d;
   border-bottom: 3px solid #4D388A;
 }

.projects a{
  border-bottom: 3px solid #5193F4;

}

.links{
display: flex;
align-items: center;
justify-content: flex-end;
height: 100%;
width: 40%;
position: absolute;
right: 6vh;


}

.logo{
  height: 100%;
display: flex;
align-items: center;
position: absolute;
left: 10vh;
cursor: default;

}

.burgermenu{
  padding-top: 0.0vh;
width: 4vh;
height: 4vh;;
position: absolute;
right: 2vw;
display: none

}

.page1{
  overflow: hidden;
  background-color: #F2F5FC;
  height: 100%;
  width: 100%;



}




.page1 img{
position: absolute;
right: 1vw;
height: 60vh;
width: 50vw;
bottom: 20vh;
transform: translateY(25%);


}

.herotxt{

  position: absolute;
  top:10vh;
  height:90vh;
  width: 100vw;
}



.herotxt h1{
  position: relative;
  font-family: 'Noto Mono';
  top: 20vh;
  font-size: 5vh;
  margin-left: 10vw;
  background-color:#5193F4;
  display: inline-block;
  padding: 1vh;
  border: 0px solid;
  border-radius:8px;
  width: auto;
  font-weight: normal;

}

.herotxt h2{
  position: relative;
  font-family: 'Noto Mono';
  top: 25vh;
  font-size: 2vh;
  margin-left: 3vh;
  background-color: #C8DBFB;
  display: inline-block;
  padding: 1vh;
  border: 0px solid;
  border-radius:8px;
  width: 27vw;
  font-weight: normal;

}

.landingtxt{
font-size: 3vh;
position: absolute;
color: #2b2b2b;
bottom: 20vh;
left: 15vw;

 }


.landingtxt p{
    z-index: 1;
  display: inline-block;
font-family: 'Noto Mono';
color: #6b6b6b;
transition: transform 0.5s, color 0.5s;


}


.ani1 {

width: auto;
}



.ani3{
width: auto;

}

.ani2{
background-color: #00AD9F;
border: 0px solid;
border-radius:8px;
padding-left: 4px;
padding-right: 4px;
color:#6b6b6b;
cursor: pointer;





}







.page2 {
  background-color: #F2F6FC;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  color: #2b2b2b;

}

.decor2 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
    grid-row-start: 2;
    float: right;
    bottom: 2vh;


 }


.decor2 img{

  max-width: 100%;
  max-height: 100%;


}

.p2txt{

  grid-row: 1 / span 2;
margin-left: 2vw;

}

.p2txt h2{
  display: inline-block;
  background-color: #5193F4;
padding: 2vh;
  border: 0px solid;
  border-radius: 8px;
  margin-bottom: 4vh;
  margin-left: 2vw;
  margin-top: 10vh;
  font-weight: normal;
  font-size: 7vh;


}

.p2txt p{
  background-color:#C8DBFB;
  border: 0px solid;
  border-radius: 8px;
  width: 40vw;
  margin-left: 6vw;
  font-size: 4vh;
  padding: 2vh;

}

.p2btn{
  position: relative;

  grid-area: 1/2;


}

.p2btn p{
  font-family:'Noto Mono';
  font-size: 4vh;
  display: inline-block;
  background-color: #00AD9F;
  position: absolute;
  display: flex;
  top: 20vh;
  left: 5vw;
  padding: 1vh;
  border-radius: 0px solid;
  border-radius: 8px;
  color: #2b2b2b;
  transition: all 0.11s;
  cursor: pointer;


}


.p2btn p:hover{
  color: #6b6b6b;
  background-color:#7ee8d4;

}




.page3 {
  background-color: #F2F6FC;
  position: relative;
  height: 100%;
  width: 100%;


}

.p3decor{
position: absolute;
top: 5vh;
left: 55vw;



}


.p3decor img{
height: 40vh;
width:30vw;

}

.showcontainer h2{
position: absolute;
top: -30vh;
display: inline-block;
width: auto;
left: 0%;
font-size: 7vh;
background-color: #5193F4;
border-radius: 0px solid;
border-radius: 8px;
padding: 1vh;
font-weight: normal;
color: #2b2b2b;



}


.showcontainer{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
position: absolute;
bottom: 10vh;
width: auto;
height: auto;
left: 50%;
transform: translateX(-50%);
background:#C8DBFB;
border-radius: 0px solid;
border-radius: 8px;
color: #2b2b2b;


}

.showcontainerinner{

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 17vw;
  height: auto;
  min-height: 33vh;
  background:#C8DBFB ;
  border: 3px solid #F2F6FC;
  border-radius: 8px;
  margin: 3vh;
  padding: 10px;





}

.showcontainerinner img {

width:  8vh;
height: 8vh;
border: 0px solid;
border-radius: 50%;




}

 .btnmore {
  font-family:'Noto Mono';
  font-size: 2vh;
  display: inline-block;
  background-color: #00AD9F;
  border: 0px solid;
  border-radius: 8px;

  transition: all 0.1s;
  cursor: pointer;
  margin: 10px;
  padding: 10px;


}

.showcontainerinner h1{

font-weight: bold;


}





.btnmore:hover{
  color: #6b6b6b;
  background-color:#7ee8d4;

}


p{
margin: 0px;
padding: 0px;

}

hr{
border: 1px solid #F2F6FC;
width: 100%;
margin-bottom:5px;
}

/* Projects page___________________________________________________________________________________________________________________________ */

.projectspage, .projectspage2{
position: static;
width: 100vw;
height: 100vh;
color: #2d2d2d;

}




.projectspage hr, .projectspage2 hr {

position: relative;
 border-top: 3px solid #2d2d2d;
 width: 25vw;
 left: 50vw;
 transform:translateX(-50%);




}

.projectcontainer{

  position: relative;
  height: inherit;
  width: 75%;
  left: 50vw;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.projectcontainer p{
  position: relative;
  display: inline-block;
  font-family: 'Noto Mono';
  left: 50%;
  transform: translateX(-50%);
  background-color: #00B19E;
  padding:10px;
  border-radius: 8px;
  font-size: 2vw;
  margin-bottom: 30px


}

  .projectcontainer p:hover{
  color: #6b6b6b;
  background-color:#7ee8d4;
  cursor: pointer;

}







 .projectspage h1{
   position: relative;
   display: inline-block;
   transform: translateX(-50%);
   width: auto;
   background-color: #5193F4;
   border: 0px;
   border-radius: 8px;
   margin-bottom:20px;
   padding: 10px;
   font-size: 3.5vw;
   font-weight: normal;
   top: 15vh;

 }

 .projectspage2 h1{
   position: relative;
   display: inline-block;
   left:100%;
   transform: translateX(-50%);
   width: auto;
   background-color: #5193F4;
   border: 0px;
   border-radius: 8px;
   margin-bottom:20px;
   padding: 10px;
   font-size: 3.5vw;
   font-weight: normal;
   top: 15vh;

 }

  .projectspage h2, .projectspage2 h2{
    position: relative;
    top: 15vh;
    background-color: #C8DBFB;
    border-radius: 0px solid;
    border-radius: 8px;
    font-weight: normal;
    padding: 10px;
    font-size: 1.5vw

  }


  .rest{
    position:  relative;
    top: 0vh
  }

  .projectsphotoview{
    position: relative;
    height: 40vh;
    width: 40vw;
    background-color: #F2F5FC;
    left: 50%;
    top: 15vh;
    transform: translateX(-50%);

    border: 10px solid #C8DBFB;
    border-radius: 8px;
    overflow: hidden;
    user-select: none;
    margin-top: 10px;
    margin-bottom: 20vh;

  }


  .carosel{
    display: flex;
    width: inherit;
    height: inherit;
    background-color: blue;

    justify-content: flex-start;

  }

  .carosel img{
    width: 100%

  }

  .nextbutton{
 position:absolute;
 width:4rem;
 height:4rem;
 top:50%;
 right: 5px;
 transform: rotateY(180deg) translateY(-50%);
 color: rgba(255, 255, 255, 0.2);
 cursor: pointer;
  }

  .previousbutton{
    position:absolute;
    width:4rem;
    height:4rem;
    top:50%;
    left: 5px;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }


@media screen and (max-width: 800px) {

  body{
    width: 100vw;



  }
  .links {
    position: absolute;

    right: -100vw;
    top: 0vh;
   background-color: #F2F5FC;
   height: 100vh;
   display: flex;
   align-items: center;
   width: 100vw;
   transition: transform ease 0.5s, top ease 0s;
   z-index: -1;

  }


  .burger-active {
    position: absolute;
    transform: translateX(-100%);
    top: 0vh;
    background-color: #F2F5FC;
    height: 100vh;
   display: flex;
   align-items: center;
   width: 100vw;

   z-index: -1;

  }

  .nav ul{
    height: 30%;
    flex-direction: column;


  }

  .nav a{

    padding: 3px;



  }


.burgermenu{
display: block;
position: absolute;
right: 9px;
z-index: 1;

}



.projects a{
  border-bottom: 0px solid;
  background-color: #5193F4;
  border-radius: 8px;

}







.nav li:nth-child(1) a{
border-bottom: 2px solid #5193F4;




}
.nav li:nth-child(2) a{

  border-bottom: 2px solid #00AD9F;


}

.nav li:nth-child(3) a{

  border-bottom: 2px solid #F24959;


}
.nav li:nth-child(4) a{

  border-bottom: 2px solid #4D388A;


}







.page1{

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
  min-height: 100vh;

}

.herotxt img {
  position: relative;
  left: 0vw;
  bottom: 0vh;
  height: 300px;
  width: 400px;

  margin-left:50vw;
  margin-top: 15vh;
transform: translateX(-50%);


}

.herotxt{
  position: static;
  height: auto;
  top: 10vh;
}


.herotxt h1{

left: 0vw;
top: inherit;
width: auto;
margin-left: 2vw;
font-size:1.7rem;
margin-bottom: 0px;
font-weight: bold;
}

.herotxt h2{

  left:100%;
  transform: translateX(-102%);
  top: inherit;
  width: 80vw;
  margin-left: 0px;
  font-size: 0.8rem;
  max-width: 75vw;
  margin-bottom: 50px;


}

.landingtxt {
  position: relative;
  display: flex;
  justify-content: center;
width: 100vw;
left: 50vw;;
bottom: default;
top: 10vh;
font-size: 1.2rem;
transform: translateX(-50%);
margin-bottom: 20px;


}

.ani1{
margin-left: 0.6em;

}


.page2{
  background-color: #F2F6FC;
  height: auto;
  width: 100%;
  display: flex;
  grid-template-rows: 100%;
  grid-template-columns:100%;
  color: #2b2b2b;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;



}

.page2 img{
position: relative;
grid-area: 1/1;
bottom:0px;


}
.p2txt{
grid-area: 1/1;
height:auto;
}

.p2txt p{
height: auto;
width: 80vw;
font-size:1.5rem;
overflow: hidden;

}

.p2btn{
grid-area: 1/1;
margin-top: 5vh ;

}

.p2txt h2{
margin-top: 4vh;
font-size: 2.1rem;
   }



.p2btn p{
position: inherit;
display: block;
width: auto;
top: 0px;
left: 0px;
margin: 0px;
width: auto;
font-size: 1.5rem;
}
.page3{
height:auto;

 }
.showcontainer h2{
top: -15vh;
font-size: 10vw;

}

.p3decor {
  display: inline-block;
  position: relative;
top: 70px;
left: 50vw;;
height: auto;
width: auto;
margin-left: -125px;


 }
.p3decor img{
height: 200px;
width: 250px;

}



.showcontainer{

  flex-direction: column;
  position: relative;
  top:  50px;
  bottom: 0px;
  width: 98vw;
  height: auto;
  left: 50vw;
  margin: 0vw;
  margin-bottom: 100px;

  max-width: 85vw;


}

.showcontainerinner{
  width: 85%;
}

.showcontainerinner h1{
  font-size: 3rem;
}

.showcontainerinner p{
  font-size: 1rem;


}

.showcontainer h2{
font-size: 2rem;
top: -230px;

}

/*ProjectsPage__________________________________________________________________________________________________________________________________*/

.projectspage, .projectspage2{
height: auto;
}

.projectspage h2, .projectspage2 h2{
  font-size: 1rem;

  margin-bottom: 20px;

}

.projectspage h1{
  float: left;
  right: 10%;
  transform: translateX(0%);
  font-size: 2rem;

}

.projectspage2 h1{

float: right;
left: 10%;
transform: translateX(0%);
font-size: 2rem

}

.projectsphotoview{
  position: relative;
  height: 20rem;
  width: 80vw;
  background-color: #F2F5FC;
  left: 50%;
  top: 15vh;
  transform: translateX(-50%);

  border: 10px solid #C8DBFB;
  border-radius: 8px;
  overflow: hidden;
  user-select: none;
  margin-top: 10px;
  margin-bottom: 20vh;

}

.projectcontainer p{

  font-size: 1.5rem;
}

.projectspage hr, .projectspage2 hr {


 width: 50vw;




}



 }
